#print {
  display: none;
}
.summary {
  background:#ADDFE9;
  padding:10px; 
}
.summary div span {
  font-weight: bold;
}

#results .header .print {
  display: inline-block;
  width:26px;
  height:26px;
}
#results .header .print img {
  width:100%;
}

#results .tablediv .col1 {
  width:55%;
}
#results .tablediv .col1 .name {
  font-weight: bold;
}
#results .tablediv .col2 {
  width:20%;
  white-space: nowrap;
}
#results .tablediv .col3 {
  width:20%;
}
#results .tablediv .col4 {
  width:5%;
}

@media(max-width: 450px) {
  #results .tablediv .col {
    width:100%;
  }
}
